:root {
  --pink: #fe5879;
  --grey: #3f3d56;
  --lightgrey: #C4C4C4;
  --darkgrey: #2f2e41;
  --text-color: #ffffff;
  --bg-color: #2f2e41;
  --hero-bg-color: #000;
}

html[data-theme="dark"] {
  --bg-color: #2f2e41;
  --hero-bg-color: #000;
  --text-color: #ffffff;
}

html[data-theme="light"] {
  --bg-color: #ffffff;
  --hero-bg-color: #fe5879;
  --text-color: #2f2e41;
}

* {
  padding: 0;
  margin: 0;
}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
}
a{ text-decoration: none;}


#links{
  text-align: center;
  padding-top: 10px;
}
.svg-icon{
  fill: var(--text-color);
  height: 40px;
  width: 40px;
  padding-right: 10px;
}
.svg-icon:hover{
  fill: var(--grey);
}


#hero{
  height: 100vh;
  width: 100vw;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
header, #hero-svg, #projects{
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0%   { opacity: 0;}
  20%  { opacity: 0;}
  100% { opacity: 1;}
}


#hero-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--hero-bg-color);
  height: inherit;
  width: 100%;
}

header{
  text-align: center;
  padding: 20px 0;
  color: var(--text-color);
}
#canvas{
  position: absolute;
}
h1{
  font-size: 2.25em;
}
h2{
  font-size: 1.75em;
}
#hero-svg{
  display: flex;
  flex-direction: column-reverse;
  right: 0;
  width: 100%;
  max-height: 400px;
}
@keyframes updown {
  0% {padding-bottom: 20px;}
  100% {padding-bottom: 5px;}
}
#arrow-container{
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  text-align: center;
  animation-name: updown;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#mobile-down-arrow{
  border: solid var(--pink);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg) scale(6);
  -webkit-transform: rotate(45deg) scale(6);
}


#projects{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  align-items: center;
}
.project-container{
  text-align: center;
  margin-bottom: 100px;
}
.project-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
h3{
  font-size: 1.75em;
  color: var(--pink);
}
.project-text{
  max-width: 400px;
  margin: 20px auto;
  line-height: 1.4;
}
.skill-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-item{
  display: inline;
  list-style: none;
  background-color: #6e6e6e;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.875em;
}
.project-img{
  height: auto;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  transition: .25s;
  cursor: pointer;
}
.project-img:hover{
  transform: scale(1.05);
}


/* For Desktop */
@media only screen and (min-width: 992px) {
  #arrow-container{display:none;}
  #hero{
    height: auto;
    width: auto;
    flex-direction: row;
    padding: 50px 50px 0px 50px;
    justify-content: space-between;
  }
  #hero-background{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
  }
  header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 50px;
  }
  h1{
    font-size: 4em;
  }
  h2{
    font-size: 2.25em;
  }
  #links{
    text-align: left;
  }
  #hero-svg{ 
    padding: 50px;
    width: 500px;
    max-height: 500px
  }
  #projects{
    align-items: center;
    padding-top: 100px;
  }
  .project-container{
    display: flex;
    height: auto;
    width: 900px;
    justify-content: space-between;
  }
  .project-img{
    max-width: 400px;
  }
}


#light-switch {
  display: inline-block;
  height: 40px;
  position: relative;
  width: 100px;
  margin-top: 10px;
}

#light-switch input {
  display:none;
}

.slider {
  background-color: white;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.5s;
}

.slider:before {
  background-color: #5555ff;
  bottom: 3px;
  content: "";
  height: 34px;
  left: 3px;
  position: absolute;
  transition: 0.5s;
  width: 34px;
}

input:checked + .slider {
  background-color: yellow;
}

input:checked + .slider:before {
  transform: translateX(60px);
  background: url(./resources/svg/sun.svg) no-repeat center;
  background-color: #5555ff;
}

.slider.round {
  border-radius: 18px;
}

.slider.round:before {
  border-radius: 50%;
  background: url(./resources/svg/moon.svg) no-repeat center;
  background-color: var(--hero-bg-color);
}
